body {
  margin: 0;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding-top: 10x;
  padding-bottom: 10px;
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 24px;
}

#menu a {
  color: #fff;
  padding-right: 25px;
  text-decoration: none;
}

#menu a:hover {
  display: inline;
  opacity: 0.5;
}

.center {
  text-align: center;
}

.text__red {
  color: #ff0000;
}

.pub_title {
  border-top: 1px solid #000;
  cursor: pointer;
}

li {
  margin: 15px 0px 15px 0px;
}
