body {
  margin: 0;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding-top: 10x;
  padding-bottom: 10px;
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 24px;
}

#menu a {
  color: #fff;
  padding-right: 25px;
  text-decoration: none;
}

#menu a:hover {
  display: inline;
  opacity: 0.5;
}
